.minha-div {
    background-color:#59effc; 
    ; /* Cor de fundo vermelha (pode ser uma cor em hexadecimal, rgb, rgba, ou nome de cor) */
    color: #59effc; /* Cor do texto (branco, por exemplo) */
    padding: 100px; /* Espaçamento interno */
    border: 1px solid #59effc; /* Borda preta de 1 pixel */
}