/* Estilos globais */
body {
    background-color: #14cbdb;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #14cbdb;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

h1 {
    color: #2c35da;
}

p {
    color: #1f8c92;
}

/* Estilos específicos para as seções e títulos */
h2 {
    cursor: pointer;
    color: #007bff;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

/* Estilos para os parágrafos dentro das seções */
.container p {
    margin: 5px 0;
}
